body {
    background-color: aquamarine;
}

/* navbar styles */
.navbar {
    background-color: #333;
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar ul a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul a:hover {
    color: pink;
    animation: spin 0.5s linear 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}