@font-face {
  font-family: 'Bvllet';
  src: url('/fonts/bvllet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 20rem;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#hero {
  background-color: #faf7f7;
}

#about {
    background-color: #85d7e6;
}

#listening {
    background-color: #1b1b1b;
}

#life {
    background-color: #ff99cc;
}