@font-face {
  font-family: 'Bvllet';
  src: url('/fonts/bvllet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  font-family: sans-serif;
}

#hero {
  background-color: #faf7f7;
  position: relative;
  display: flex;
  flex-direction: column;
}


.triangle-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* Adjust this to control triangle height */
  z-index: 1;
}

h1 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 30rem;
    line-height: 0.55;
}

h3 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 3rem;
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0;
    width: 95%;
    z-index: 2;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#hero-title {
    top: 0rem;
    margin: 0;
    width: 100%;
    z-index: 2;
}

#hero-subtitle {
    text-align: left;
}

#image-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

#image-carousel img {
    width: 25vw;
    height: auto;
    flex-shrink: 0;
    margin-right: 2rem;
    z-index: 2;
    animation: scroll-right 35s linear infinite;
}

#image-carousel img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

#about {
    background-color: #85d7e6;
}

#listening {
    background-color: #1b1b1b;
}

#life {
    background-color: #ff99cc;
}