@font-face {
  font-family: 'Bvllet';
  src: url('/fonts/bvllet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Kaisei {
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  font-family: sans-serif;
}

/* Hero Section Styles */

#hero {
  background-color: #faf7f7;
  position: relative;
  display: flex;
  flex-direction: column;
}


.triangle-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* Adjust this to control triangle height */
  z-index: 1;
}

h1 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: clamp(8rem, 30vw, 30rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.55;
    text-align: left;
}

h3 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 3rem;
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0;
    width: 95%;
    z-index: 2;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#hero-title {
    top: 0rem;
    margin: 0;
    width: 100%;
    z-index: 2;
}

#hero-subtitle {
    text-align: left;
}

#image-carousel {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2000px; /* Adjust based on your image height */
}

#image-carousel img {
    width: 25vw;
    height: auto;
    margin-right: 2rem;
    z-index: 2;
    display: block;
}

#image-carousel img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* About Section Styles */

#about {
    background-color: #85d7e6;
    display: flex;
    flex-direction: row;
}

#about-window {
    position: relative;
    display: inline-block;
}

#about-window-image {
    width: 100%;
    height: auto;
    display: block;
}

#about-window-text {
    position: absolute;
    top: 10%; 
    left: 5%; 
    right: 15%; 
    bottom: 15%; 
    padding: 20px;
    font-family: 'Courier New', monospace; 
    font-size: 1rem;
    line-height: 2;
    overflow: hidden;
    box-sizing: border-box;
}


.indent-0 { display: block; padding-left: 0; }
.indent-1 { display: block; padding-left: 2em; }
.indent-2 { display: block; padding-left: 4em; }
.indent-3 { display: block; padding-left: 6em; }
.indent-4 { display: block; padding-left: 8em; }

#about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

#about-header h2 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 12rem;
    text-align: center;
    margin: 0;
}

/* Listening Section Styles */

#listening {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    position: relative;
}

#listening-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#starburst {
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 0;
    width: 15%;
}

#marvin {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 0;
    width: 15%;
}

#marcy {
    position: absolute;
    bottom: 0;
    right: 2%;
    z-index: 0;
    width: 25%;
}

.album-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.album-image {
    width: 17vw;
    height: auto;
    margin: 1rem;
    border-radius: 5%;
    transition: transform 0.3s ease;
    z-index: 2;
    position: relative;
}

.album-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#row-1 {
    margin-top: 5rem;
    margin-left: 20%;
}

#row-2 {
    margin-top: 0;
    margin-left: 5%;
}

#listening h2 {
    font-family: 'Bvllet', sans-serif;
    color: #ff751f;
    font-weight: lighter;
    font-size: 12rem;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 0.9;
    position: absolute;
    bottom: -0.5rem;
    left: 1rem;
}

/* Life Section Styles */

#life {
    position: relative;
    background-color: #ff99cc;
}

#life h2 {
    color: #ffffff;
    font-weight: lighter;
    font-size: 6rem;
    text-align: left;
    margin: 1rem 0 0 0;
    padding-left: 1rem;
}

#life-canvas {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
}

.browser-window {
   transform: scale(0);
}

.browser-window.in-view {
    transform: scale(1);
    transition: transform 0.3s linear; 
}

#kaeden-window {
    top: 10%;
    left: 10%;
    height: 60%;
    width: auto;
    position: absolute;
    transition-delay: 0s; 
}

#music-window {
    top: 12%;
    left: 43%;
    height: 45%;
    width: auto;
    position: absolute;
    transition-delay: 0.3s; 
}
#volleyball-window {
    top: 25%;
    right: 7%;
    height: 50%;
    width: auto;
    position: absolute;
    transition-delay: 0.1s; 
}

#julia-window {
    bottom: 5%;
    left: 33%;
    height: 35%;
    width: auto;
    position: absolute;
    transition-delay: 0.4s; 
}

#today-window {
    bottom: 18%;
    left: 53%;
    height: 20%;
    width: auto;
    position: absolute;
    transition-delay: 0s; 
}

#life-window {
    bottom: 10%;
    left: 10%;
    height: 15%;
    width: auto;
    position: absolute;
    transition-delay: 0.2s; 
}